@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

html,
button {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
body {
  min-width: 320px;
  display: flex;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(124, 95, 59);
}

main {
  max-width: 500px;
  width: 100%;
}

#board {
  max-width: 500px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  border: 1px solid black;
  margin-bottom: 20px;
  background-image: url("./public/imgs/portada.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#game-over {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 50px;
  display: none;
}
.board-info {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#score-board {
  display: inline;
}

#start {
  color: white;
  font-weight: 900;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s;
}

#start:hover {
  background-color: rgb(191, 0, 0);
}
